**data
**rob831.egg-info
**.zip
**.csv
**.png
**__pycache__
**hw2/_minted-hw2_submission
**hw3/_minted-hw3_submission
**hw4/_minted-hw4_submission
**.fls
**.aux
**.log
**.fdb_latexmk
**.synctex.gz
**.out
**.gz
**.xdv
**.deb
**.vscode